{% extends "dashboard_base.html" %}

{% block head %}

    <style>
        .space-between{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .plus-icon{
            font-size: 20px;
            color: white;
            background-color: rgb(79,68,224);
            padding: 10px;
            border-radius: 100px;
        }
        table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        }

        td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        }

        tr:nth-child(even) {
        background-color: #dddddd;
        }
    </style>

{% endblock head %}

{% block body %}
<div class="main__container">
    <div class="space-between">
        <h1>Courses</h1>
        <a href="/main_admin_dashboard/create_course"><i class="plus-icon fas fa-plus"></i></a>
    </div>
    <div class="container-div" style="margin-top: 20px;">
        <table>
            <tr>
              <th>Name</th>
              <th>Addmission Fee</th>
              <th>Monthly Fee</th>
              <th>Registration Fee</th>
            </tr>
            {% for i in courses %}
            <tr>
              <td>{{i.name}}</td>
              <td>{{i.addmission_fee}}</td>
              <td>{{i.monthly_fee}}</td>
              <td>{{i.registration_fee}}</td>
            </tr>
            {% endfor %}
          </table>
    </div>
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% endblock body %}