{% extends "dashboard_base.html" %}

{% block head %}

    <style>
                @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.form-container{
    width: 40vw;
    height: max-content;
    background: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.431);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;
}

.form-container h2{
    color: rgb(79,68,224);
    font-size: 1.6rem;
}

.form-container h2 i{
    font-size: 1.8rem;
    padding-left: 0.1rem;
}

.input{
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 0.7rem;
}

.input input{
    width: 100%;
    height: 50px;
    font-family: "Poppins", sans-serif;
    padding-top: 1.1rem;
    padding-left: 14px;
    outline: none;
    border: 1px solid #8c8c8c;
    border-radius: 3px;
    transition: 0.2s;
}
.input-2 input{
    width: 100%;
    height: 50px;
    font-family: "Poppins", sans-serif;
    padding-left: 14px;
    padding-top: 5px;
    outline: none;
    border: 1px solid rgb(79,68,224);
    border-radius: 3px;
    transition: 0.2s;
}

.input label{
    position: absolute;
    top: 25%;
    left: 15px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #8c8c8c;
    transition: 0.2s;
}

.input input:focus ~ label, .input input:valid ~ label{
    top: 10%;
    font-size: 0.8rem;
    color: #000;
} 

.input input:focus{
    border-width: 2px;
    border-color: rgb(79,68,224);
}
button{
    height: 50px;
    background: rgb(79,68,224);
    outline: none;
    border: none;
    border-radius: 5px;
    width: 50%;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: bolder;
}
.error{
    width: 100%;
    background-color: coral;
    padding: 5px 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-top: 10px;
    text-align: center;
}
.join-link{
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.join-link a{
    text-decoration: none;
    font-weight: bolder;
    color: rgb(79,68,224);
}
.success{
    width: 100%;
    background-color: lightgreen;
    padding: 5px 20px;
    font-family: 'Poppins', sans-serif;
    color: green;
    margin-top: 10px;
    text-align: center;
}
@media(max-width: 900px){
    .form-container{
        width: 100% !important;
    }
}
.input-10 input{
    width: 100%;
    height: 50px;
    font-family: "Poppins", sans-serif;
    padding-left: 14px;
    padding-top: 5px;
    outline: none;
    border: 1px solid #8c8c8c;
    border-radius: 3px;
    transition: 0.2s;
}
::placeholder{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #8c8c8c;
}
textarea:focus{
    outline: none;
}
textarea{
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}
.input-10 input::placeholder {
    font-size:16px;
}
label{
    font-family: 'Poppins', sans-serif;
}
.input-10{
    margin-bottom: 20px;
}
    </style>

{% endblock head %}

{% block body %}
<div class="main__container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-container">
            <div class="intro-text">
                <h1 style="font-family: 'Poppins', sans-serif">Upload Software</h1>
            </div>
            {% if error %}
                <p class="error">{{message}}</p>
            {% endif %}
            {% if success %}
                <div class="success">Software Uploaded  Notice</div>
                <script>
                    setInterval(() => {
                        window.location.href="/main_admin_dashboard/";
                    }, 1000);
                </script>
            {% endif %}
            <div class="inputs">
                <label>Software File</label><br>
                <input style="margin-bottom: 15px;" type="file" required name="file"><br>
            <button type="submit">Upload</button>
        </form>
        </div>
</div>
{% endblock body %}